# TASK-1

1. Write a function to find moving average in an array over a windows.

In [12]:
# moving average function over windows
def mAvg(list1,k):
    length = len(list1)
    i = 0
    sequence = [] # List declaration
    while(i <= (length-k)):
        j = 0
        sum = 0
        while(j < k):
            sum = sum + list1[i+j]
            j = j+1
        element = sum / k
        sequence.append(element) # Appending element to sequence
        i = i+1
    return sequence

seq = [3,5,7,2,8,10,11,65,72,81,99,100,150]
windw = 3 # Window size definition
# Movig average function call.
result = mAvg(seq,windw)
print("result:",result)

result: [5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

# TASK-2

1. How to count distance to the previous zero for each value, count the difference back to the previous zero (or the start of the series, whichever is closer. Create a column 'Y'.

In [7]:
import pandas as pd
import numpy as np

In [8]:
# Function Definition to calculate distance from previous zero or beging of series
def distPzero(df):
    j = 0
    i = 0
    list1 = []
    while(i < df.size):
    #print ("inside while::")
        if df['X'][i]!=0:
            j = j+1
        else:
            j = 0
        list1.append(j) # Appending j to list1
        i += 1
    return list1
# Creating data freame with default index whose column is 'X'
df = pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})
# Function call
list1 = distPzero(df)
# 'Y' Column creation in data frame 'df'
df ['Y'] = list1
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2. Create DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers.

In [13]:
from pandas.tseries.offsets import BusinessDay
# Creating range of business day for complete year 2015
rng = pd.date_range(start='1/1/2015',end = '31/12/2015', freq=BusinessDay())
#print(len(rng))
# Creating series of random number with date index
ts = pd.Series(np.random.randn(len(rng)),index = rng)
ts.head()

2015-01-01    1.516938
2015-01-02   -0.330319
2015-01-05    0.029035
2015-01-06    1.103058
2015-01-07   -0.378077
Freq: B, dtype: float64

3. Find the sum of the values in series for every wednesday.

In [14]:
ts[4::5].sum()

9.67451100660605

4. Average for each calender month of series.

In [15]:
ts.resample('M').mean()

2015-01-31   -0.025571
2015-02-28    0.015169
2015-03-31    0.154935
2015-04-30    0.134393
2015-05-31   -0.123804
2015-06-30    0.545006
2015-07-31    0.014652
2015-08-31    0.144862
2015-09-30    0.410051
2015-10-31   -0.498528
2015-11-30    0.418999
2015-12-31   -0.145022
Freq: M, dtype: float64

5. For each group of four consecutive calendar months in series, find the date on which the highest value occured.

In [16]:
zs = ts.resample('M').max() # series of maximum value for each month
i= 0 
while(i < zs.size):
    ms = zs[i:i+4].max() # maximum value in group of 4 month
    print(ts[ts == ms]) # DATE time index for maximum value in group of 4 month
    i += 4

2015-03-27    2.732503
Freq: B, dtype: float64
2015-06-04    2.760922
Freq: B, dtype: float64
2015-11-16    2.623409
Freq: B, dtype: float64